body {
  // background: url('/images/MK_WP.jpg') no-repeat center center fixed;
  // background-size: cover;
  background-color: black;
}

#weapons, #fighters{
  .weapon, .fighter {
    background-color: white;
    display: inline-block;
    margin: 2px;
    padding: 1px;

    &> div:first-child{
      border: 0px solid black;
      width: 150px;
      height: 100px;
      margin: 10px;
      background-size: cover;
    }

    &> div:nth-child(2){

    }
  }
}

.choose{
  border: 2px dashed red;
  // background-color: rgba(229, 65, 65, 0.34) !important;
}
